:root {
  --defaultYellow: #ffcf43;
  --defaultBlue: #01345b;
  --lightBlue: #5ce0d8;
  --white: #fff;
  --light: #f7f7f7;
  --black: #222;
  --greyText: #777;
  --mainGrey: #ececec;
  --darkGrey: #f8f8f8;
  --danger: #fe4a49;
  --blackColor: #000;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 0.3rem 0.3rem 0.6rem 0.2rem rgba(0, 0, 0, 0.1);
  --boxShadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  color: var(--greyText);
  height: 100%;
  position: relative;
}

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
}

.movies-section {
  display: grid;
  grid-template-columns: 22% 77%;
  grid-gap: 1%;
}

.container {
  max-width: 120rem;
  width: calc(100% - 2rem);
  margin: auto;
}

.btn {
  padding: 0.8rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-primary {
  background-color: var(--defaultBlue);
  color: var(--white);
}

.btn-danger {
  background-color: var(--danger);
  color: var(--white);
}

.table,
.genres {
  width: 100%;
  margin-top: 1rem;
  box-shadow: var(--boxShadow);
  padding: 2rem;
}

.genres {
  padding: 0;
}

.genres ul li {
  line-height: 2rem;
  padding: 1.5rem 2rem;
  cursor: pointer;
}

.table tr {
  text-align: left;
}

.table thead {
  color: var(--defaultBlue);
  font-size: 1.8rem;
  text-transform: uppercase;
}

.table th {
  cursor: pointer;
}

.table th,
.table td {
  padding: 1rem 1.5rem;
}

.heart {
  font-size: 2rem;
  cursor: pointer;
}

.heart-full {
  color: var(--danger);
}

.total-movies {
  margin-top: 1rem;
  padding: 2rem;
  box-shadow: var(--boxShadow);
}

.active {
  background-color: var(--defaultBlue);
  color: var(--white);
}

.genres-header {
  padding: 2rem;
}

.form {
  max-width: 70rem;
  box-shadow: var(--boxShadow);
  padding: 2rem;
  margin: 2rem auto auto auto;
}

.form button {
    padding: 1.2rem 3.6rem;
    border-radius: .6rem;
    outline: none;
    background-color: var(--defaultBlue);
    color: var(--white);
    border: none;
    cursor: pointer;
}

.form-title {
  padding: 1rem;
  margin-bottom: 1rem;
}

.form-title h3 {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 400;
}

.form-control {
  width: 100%;
  padding: 1.2rem;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  font-size: inherit;
}

@media screen and (max-width: 768px) {
  .movies-section {
    grid-template-columns: 1fr;
  }
}
